header {
  margin-bottom: 5rem;
  position: relative;
  .slider-container {
    height: 100vh;

    img {
      // width: 100%;
      height: 100%;
    }
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 4fr 3rem;
    z-index: 100;
    align-items: center;
    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: background-color, box-shadow 200ms ease-out;
    background-color: rgba(255, 255, 255, 0.7);

    &.passed {
      // height: 4rem;
      background-color: white;
      box-shadow: 0 3px 10px rgb(235, 235, 235);
    }

    div {
      width: 100%;
      padding: 0;
      margin: 0;

      &:last-child {
        clear: both;
      }
    }
    div.title {
      h1 {
        margin: 0;
        font-size: 20pt;
        a {
          color: $BLACK;
          text-decoration: none;
        }
      }
    }
    div.links {
      display: flex;
      justify-content: flex-end;

      ul {
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 5px;
        list-style: none;
        padding-right: 5px;

        li {
          background-color: transparent;
          text-align: center;
          word-break: keep-all;
          padding: .6rem;

          a {
            color: black;
            text-decoration: none;

            &:hover {
              color: black;
              text-decoration: none;
              font-weight: 800;
            }
          }
        }
      }
    }
    div.language {
      position: relative;
      display: flex;
      height: 100%;
      align-items: center;
      
      span {
        display: flex;
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;
        justify-content: center;
        align-content: center;
        margin-right: 2px;

        &:last-child {
          margin-left: 2px;
          margin-right: 0;
        }

        img {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 100%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

// when screen size is below 480px we do this style (mobile)
@media (max-width: 480px) {
  header {
    nav {
      grid-template-columns: 1fr 0 !important;
      div.title {
        padding-left: 0 !important;
        text-align: center;
      }
      div.links {
        display: none;
      }
    }
  }
}