section#service {
  .service {
    text-align: center;
    padding: 0 2rem;
    display: grid;
    grid-template-rows: 5rem 1.5fr 3fr;

    h4.service-heading {
      text-align: center;
    }
    .image-container {
      width: 100%;
      text-align: center;
      img {
        height: 100%;
      }
    }
  }
}