section#story {
  $lineWidth: 1px;

  div.timelines {
    width: 100%;
    position: relative;
    padding-top: 3rem;

    div.timeline {
      margin-top: 6rem;
      // width: 80%;
      &:first-child {
        margin-top: 0;
      }

      img {
        width: 10rem;
        // align-self: right;
        justify-self: right;
      }
      p {
        text-align: justify;
      }

      display: grid;
      grid-column-gap: 3.5rem;
      grid-template-columns: 15rem 1fr 15rem;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
