$BLUE:rgb(22, 74, 245);
$WHITE: white;
$DARK: rgb(7, 23, 78);
$DARKER: rgb(5, 16, 54);


$HEADER_NAV_BUTTON_TEXT: $WHITE;
$HEADER_NAV_BUTTON_BACKGROUND: $BLUE;
$LANGUAGE_HIGHLIGHT_BACKGROUND: rgba(0,0,0,0.2);

$FOOTER_UPPER_BACKGROUND: $DARK;
$FOOTER_LOWER_BACKGROUND: $DARKER;