footer {
  color: white;
  position: relative;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: $FOOTER_BACKGROUND;
  margin-top: 20rem;
  min-height: 30rem;

  img {
    position: absolute;
    width: 100%;
    bottom: 10%;
    left: 0;
    // transform: translateY(-50%);
  }

  section {
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
  }
  section.upper {
    padding-top: 3.5rem !important;
    height: 20rem;

    display: grid;
    grid-template-areas: "a t c";
    grid-template-columns: 5fr 4fr 6fr;
    // grid-column-gap: 15rem;

    div {
      grid-area: t;
      padding: 2rem;
      h2,
      h4 {
        margin-bottom: 1rem;
      }
      p {
        margin-bottom: 0.5rem;
        font-size: smaller;
      }

      a {
        color: $WHITE;
      }
    }
    div + div {
      grid-area: c;
    }
  }
  section.lower {
    height: 3rem;
    width: 90%;
    left: 10%;
    position: absolute;
    bottom: 0;
    // background-color: $FOOTER_BACKGROUND;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
  }
}

// MIN WIDTHS
@media (min-width: 576px) {
  .homepage {
    footer {
      section.upper {
        height: 25rem;
      }
      section.lower {
        width: 100%;
        left: 0%;
      }
    }
  }
}

@media (max-width: 374px) {
  footer {
    section.upper {
      grid-template-columns: 1fr;
      grid-template-rows: 0fr 1fr 1fr;
      grid-template-areas:
        "a"
        "t"
        "c";
    }
  }
}
