footer {
  color: white;
  position: relative;
  background-color: $FOOTER_BACKGROUND;

  img {
    position: absolute;
    width: 100%;
    bottom: 10%;
    left: 0;
    // transform: translateY(-50%);
  }

  section {
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
  }
  section.upper {
    padding-top: 1rem !important;
    height: 20rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15rem;

    div {
      padding: 2rem;
      h2,
      h4 {
        margin-bottom: 1rem;
      }
      p {
        margin-bottom: 0.5rem;
        font-size: smaller;
      }

      a {
        color: $WHITE;
      }
    }
  }
  section.lower {
    height: 3rem;
    background-color: $FOOTER_BACKGROUND;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
  }
}
