@import "colors";
@import "mixins";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "footer";
@import "slider";

.loader {
  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9009;
    transition: background-color 1000ms ease-out; // THIS IS WHERE YOU SET LOADING-FADE-OFF
    pointer-events: none;
  }
  // .hole {
  // position: absolute;
  // top: 20px;
  // left: 20px;
  // width: 200px;
  // height: 150px;
  // box-shadow: 0 0 0 9999px rgba(0, 0, 255, 0.2);
  // }

  &.loading::after {
    background-color: white;
  }
}

.homepage {
  // cursor: url(http://placehold.it/50x30) 25 15, auto;
  width: 100%;
  overflow-x: hidden;

  // general styling for all sections
  section {
    margin-bottom: 10rem;
    padding-top: 5rem;
    .section-heading {
      text-align: center;
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    .section-subheading {
      position: relative;
      width: 60%;
      left: 20%;
      text-align: justify;

      margin-bottom: 5rem;
    }
  }

  .container {
    transition: max-width 300ms ease;
  }

  // style for sections sre in seperasted files (in sections folder)
  @import "sections/header";
  @import "sections/service";
  @import "sections/team";
  @import "sections/story";
  @import "sections/portfolio";
}

// MAX WIDTHS
@media (max-width: 600px) {
  .homepage {
    section {
      .section-subheading {
        width: 100%;
        left: 0;
        max-width: 100%;
      }
    }
  }
}

// MIN WIDTHS
@media (min-width: 576px) {
  .homepage {
    .container {
      max-width: 100% !important;
    }
  }
}

@media (min-width: 768px) {
  .homepage > .container {
    max-width: 69% !important;
  }
}

@media (min-width: 992px) {
  .homepage > .container {
    max-width: 68% !important;
  }
}

@media (min-width: 1200px) {
  .homepage > .container {
    max-width: 67% !important;
  }
}

@media (min-width: 1400px) {
  .homepage > .container {
    max-width: 60% !important;
  }
}

// some global classes

// all texts with this class gets new font
.officina {
  font-family: "Nobile", sans-serif;
}

// to create the pattern that story has
.circle-dash {
  text-align: center;
  position: relative;
  z-index: 2;

  &::before {
    @include story-ball(6rem);
    z-index: -1;
    border: 2px dotted gray;
  }

  &::after {
    @include story-ball(6.4rem);
    z-index: -2;
    background-color: white;
    border: 1px solid gray;
  }
}
