// define your style of dragger (you can also use background-image: url(..) )
@mixin dragger {
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;

  &.clicked {
    background-color: #f38021;
  }
}


.slider-container {
  box-sizing: border-box;
  position: relative;
  height: 100%; /*should be the same height as the images*/

  .slider-image {
    box-sizing: border-box;
    position: absolute;
    width: auto;
    height: 100%;
    overflow: hidden;

    & img {
      box-sizing: border-box;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &.slider-overlay {
      border-right: 1px solid $WHITE;
    }
  }

  .slider-mover {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    
    top: 50%;
    transform: translateY(-50%);

    @include dragger();
  }
}
