.slider-container {
  box-sizing: border-box;
  position: relative;
  height: 100%; /*should be the same height as the images*/

  .slider-image {
    box-sizing: border-box;
    position: absolute;
    width: auto;
    height: 100%;
    overflow: hidden;

    & img {
      // position: absolute;
      // left: 50%;
      // transform: translateX(-50%);
      box-sizing: border-box;
      display: block;
      vertical-align: middle;
    }

    &.slider-overlay {
      border-right: 1px solid $WHITE;
    }
  }

  .slider-mover {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 40px;
    height: 40px;
    background-color: #2196F3;
    opacity: 0.7;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);

    &.clicked {
      background-color: #f38021;
    }
  }
}
