// define your style of dragger (you can also use background-image: url(..) )
@mixin dragger {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


.slider-container {
  box-sizing: border-box;
  position: relative;
  height: calc(100% - 3rem); /*should be the same height as the images*/
  margin-top: 2rem;
  // outline: 1px solid black; 

  .slider-image {
    box-sizing: border-box;
    position: absolute;
    width: auto;
    height: 100%;
    overflow: hidden;
    text-align: center;

    & img {
      box-sizing: border-box;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &.slider-overlay {
      background-color: white;
      &::after {
        position: absolute;
        right: 0;
        top: 5%;
        height: 90%;
        width: 6px;
        background-color: $BLACK;
        content: '';
      }
    }
  }

  .slider-mover {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    
    top: 50%;
    transform: translate(-3px, -50%);

    @include dragger();
  }
}
